#homeContainer {
  width: 100wh;
  height: 100vh;
  margin: 0%;
  background-image: linear-gradient(to bottom, #ff5e62, #ff9966);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}

#clubHead {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.2;
  text-align: left;
  color: white;
}

#clubHead p {
  font-size: 16px;
}

#appName {
  font-size: 67px;
  color: white;
  font-weight: bold;
}

#appName p {
  font-size: 20px;
  padding-left: 10px;
}

#welcome p {
  font-size: 25px;
  color: white;
}

.btnOption {
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.dm {
  color: #ff7e64;
  background-color: white;
}

.ca {
  color: white;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid white;
}

#login {
  font-size: 12px;
  color: white;
  text-align: center;
}

#login a {
  text-decoration: underline;
  color: white;
  cursor: pointer;
  font-size: larger;
}
