.btnAttend{
    background-color: green;
    border: 0px;
    padding: 10px; 
}

.header{
    font-size: large  !important;
}

.quiz{

}

.description{
    font-size: medium !important;
}

.quizDetail{
    margin-bottom:2%;
    color: #748A9D !important;
}
.content{
   border-color: #FF9665 !important;
   background-color: #F0F4F8 !important; 
   
}
.ui.medium.primary.button{
background-color: #FF9665 !important;
border-radius: 50px  !important;
}


#quizContainer{
    padding: 30px;
}


#quizContainer h1{
    display: flex;
    flex-direction: row;
    align-items: center ;
}


.quizName{
    height: 100px;
    width: 100px;
}
