#navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff9665;
  height: 15%;
  padding: 0.2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}


#navBar input{
    opacity: 0;
    z-index: 1;
    position: absolute;
    right: 5;
    top:5;
}



#sideMenu {
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff9665;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  letter-spacing: 1.2px;
  transform: translateX(100%);
  transition-property: transform , opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  user-select: none;
}


.optionShow{
  transform: translateX(0%) !important;
  opacity: 1 !important;
}


#navBar input:checked ~ div{
    opacity: 1;
}

#sideMenu > div {
    margin: 20px;
    cursor: pointer;
}

.menuOption{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.menuIcon{
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

h2{
  margin-top: 0px;
}