#questionContainer {
  padding: 25px;
  -ms-overflow-style: none;
  position: relative;
  height: 100%;
}

#questionContainer::-webkit-scrollbar {
  display: none;
}

.question {
  font-weight: bold;
}

/* The container for each Radio Button*/
.propContainer {
  position: relative;
  user-select: none;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}

.radioContainer {
  border: 2px solid silver;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}

.checkContainer {
  border: 2px solid silver;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

/* Hide the browser's default radio button */
.propContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border: 1px solid silver;
}

.checkContainer:hover,
.radioContainer:hover {
  background-color: #eeeeee;
}

.propContainer > input:checked {
  background-color: #ff9665;
  color: white;
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.submitBtn {
  border-radius: 30px !important;
}
.ui.medium.green.button.submitBtn {
  background-color: #ff9665;
}

#questionHeaderInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid silver;
}

#timer {
  border-radius: 30px;
  padding: 8px;
  color: white;
}

#questionHeaderInfo > div {
  margin-right: 30px;
}

#questionHeaderInfo h1,
h3 {
  display: inline;
}

/* For Large Screens */
@media only screen and (min-width: 768px) {
  .answerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
  .propContainer {
    width: 100%;
    margin-bottom: 25px;
  }
  .question {
    padding-left: 40px;
  }
  #questionHeaderInfo {
    padding-left: 40px;
  }
}

.safeTime {
  background-color: #4caf50;
}

.dangerTime {
  background-color: tomato;
}
