#loginContainer {
  height: 100vh;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: scroll;
}

#form {
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formElt {
  width: 100%;
}

.formElt input {
  border: 1px solid #9a9ea4;
  padding: 10px;
  text-align: left;
  border-radius: 30px;
  margin-bottom: 10px;
  color: #66686b;
  width: 100%;
}

.btnLogin {
  border-radius: 30px;
  padding: 10px;
  background-color: #ff9665;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
  user-select: none;
  width: 100%;
}

.validationText {
  color: #d50000;
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* For Large Screens */
@media only screen and (min-width: 768px) {
  #loginContainer {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 50px;
    overflow-y: auto;
    margin: 0px;
  }
  #backBtn {
    display: none;
  }

  #form {
    width: 25%;
  }
}
